.photo-bg {
  background: black;
  background: url(https://source.unsplash.com/random) no-repeat center;
  background-size: cover;
  display: block;
  width: 100%;
  height: 100%;
  position: fixed; }
  .photo-bg .photo-wrap {
    position: relative;
    text-align: center; }

.quote-box {
  height: 100%;
  padding: 20ex 0 0 0;
  margin: 0 auto;
  max-width: 40em;
  width: 100%; }
  .quote-box .quote-wrapper {
    border: 1px solid red;
    background: rgba(32, 32, 32, 0.8);
    color: white;
    position: relative;
    margin: 0 auto;
    padding: 5em; }
    .quote-box .quote-wrapper .author {
      text-align: right;
      text-transform: uppercase; }

.btn-wrap {
  padding-top: 2.5ex;
  position: relative;
  text-align: center; }
  .btn-wrap button {
    border: none;
    background: black;
    color: white;
    padding: 2ex 2em; }
    .btn-wrap button:hover {
      background: white;
      color: black; }
