.photo-bg{
  position: absolute;
}
.photo-filter{
  background: grey;
  height: 100%;
  opacity: 0.3;
  position: fixed;
  width: 100%;
}
.quote-box{
  position: fixed;
  height: 100%;
  width: 100%;
  .quote-bg{
    border: 1px solid purple;

    background: grey;
    display: block;
    //height: 40%;
    opacity: 0.4;
    position: absolute;
    width: 100%;
  }
  .quote-wrapper{
    border: 1px solid red;

    //color: white;
    position: relative;
    margin: 0 auto;
    padding: 100px;
  }
}
